:root {
  --primary-color: rgb(139, 189, 238);
  --bg-color: rgb(233, 245, 255);
  --box-shadow: 10px 10px 10px rgba(0, 42, 82, 0.2);
}
body {
  background: var(--bg-color);
}
.App {
  width: 55%;
  margin: 40px auto;
  padding: 80px;
  border: 3px solid rgb(0, 42, 82);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: rgba(0, 42, 82, 0.8);
}
.source-link {
  text-align: center;
}
.git-link {
  text-decoration: none;
  color: rgb(0, 87, 185);
}
