ul {
  background: rgb(233, 245, 255);
  border: 1px solid rgb(233, 245, 255);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  list-style: none;
  box-shadow: 10px 10px 10px rgba(0, 42, 82, 0.1);
}
li {
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
li:hover {
  background: white;
}
img {
  display: block;
  margin: 0 auto;
}
